# Exploratory Data Analysis

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import seaborn as sns

## Import Data

In [9]:
df = pd.read_excel("data.xlsx", sheet_name="2015")
df.head()

,Variable,Category,Bachelor Agrarwissenschaften,Bachelor Ernährungswissenschaften,Bachelor Ökotrophologie,Bachelor Umwelt und globaler Wandel,Master Ernährungswissenschaften,Master Ernährungsökonomie*,Master Nutztierwissenschaften,Master Pflanzenproduktion,Master Oenologie/Weinwirtschaft*,Master Getränketechnologi
0,Geschlecht,Männlich (%),36.0,10.0,9.0,39.0,5.0,15.0,11.0,40.0,27.0,38.0
1,Geschlecht,Weiblich (%),64.0,90.0,91.0,61.0,95.0,85.0,89.0,60.0,73.0,63.0
2,Geschlecht,Gesamt (%),100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
3,Geschlecht,Anzahl,55.0,71.0,117.0,64.0,57.0,26.0,9.0,5.0,11.0,8.0
4,Alter,unter 18 Jahre (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df["Variable"].unique()

array(['Geschlecht', 'Alter', 'Staatsangehörigkeit',
       'Migrationshintergrund', 'Fachsemester', 'Zufriedenheit',
       'Subjektive Leistungseinschätzung', 'Studienbeeinträchtigungen',
       'Rücklaufquote '], dtype=object)

In [ ]:
df