In [23]:
import pandas as pd 
import plotly as px
pd.set_option('display.max_rows', 500)  # Zeilenanzahl erhöhen
pd.set_option('display.max_columns', 50)  # Spaltenanzahl erhöhen
pd.set_option('display.width', 1000)  # Maximale Breite der Anzeige

In [24]:
years = [str(year) for year in range(2013, 2025)]

In [25]:
df = pd.read_excel("data.xlsx", sheet_name=years)
data_list = []

In [26]:
for year, df in df.items():
    # Füge das Jahr als neue Spalte hinzu
    df['Jahr'] = year
    
    # Füge den DataFrame der Liste hinzu
    data_list.append(df)

# Alle DataFrames in der Liste zu einem einzigen DataFrame zusammenführen
final_df = pd.concat(data_list, ignore_index=True)

In [27]:
df = final_df[final_df['Category']=='Anzahl Studierende'].drop(columns=['Variable', 'Category'])
df.columns

Index(['Bachelor Agrarwissenschaften', 'Bachelor Ernährungswissenschaften', 'Bachelor Nachwachsende Rohstoffe und Bioressourcen', 'Bachelor Ökotrophologie', 'Bachelor Umwelt und globaler Wandel', 'Master Ernährungswissenschaften ', 'Master  Ernährungsökonomie*', 'Master  Agrarökonomie und Betriebsmanagement', 'Master Nutztierwissenschaften', 'Master Pflanzenproduktion', 'Master Oenologie/Weinwirtschaft*', 'Master Haushalts- und Dienstleistungswissenschaften\n', 'Master Umwelt- und Ressourcenmanagement', 'Master Getränketechnologie', 'Jahr', 'Master Getränketechnologi', 'Master Agrar- und Ressourcenökonomie', 'Master Umweltwissenschaften', 'Master Transition Management\n', 'Master Ökotrophologie', 'Master Agrobiotechnologie\n', 'Master Insect Biotechnology and Bioresources', 'Bachelor Umweltmanagement', 'Master Agrobiotechnologie', 'Master Ernährungsökonomie', 'Master Nutzpflanzenwissenschaften', 'Master Oenologie/Weinwirtschaft', 'Master Transition Management',
       'Master Sustainable Transition*', 'Master Agrar- und Ressourcenökonomie*', 'Master Getränketechnologie*', 'Master Informationstechnologie in den Agrar- und Umweltwissenschaften*', 'Master Nachhaltige Ernährungswirtschaft', 'Master Sustainable Transition', 'Master Nutztierwissenschaften*'],
      dtype='object')

# Lets make it in absolut numbers

## import import the data by years

In [33]:
df_grouped = df.groupby(by='Jahr').sum().reset_index()

In [34]:
df_grouped

,Jahr,Bachelor Agrarwissenschaften,Bachelor Ernährungswissenschaften,Bachelor Nachwachsende Rohstoffe und Bioressourcen,Bachelor Ökotrophologie,Bachelor Umwelt und globaler Wandel,Master Ernährungswissenschaften,Master Ernährungsökonomie*,Master Agrarökonomie und Betriebsmanagement,Master Nutztierwissenschaften,Master Pflanzenproduktion,Master Oenologie/Weinwirtschaft*,Master Haushalts- und Dienstleistungswissenschaften\n,Master Umwelt- und Ressourcenmanagement,Master Getränketechnologie,Master Getränketechnologi,Master Agrar- und Ressourcenökonomie,Master Umweltwissenschaften,Master Transition Management\n,Master Ökotrophologie,Master Agrobiotechnologie\n,Master Insect Biotechnology and Bioresources,Bachelor Umweltmanagement,Master Agrobiotechnologie,Master Ernährungsökonomie,Master Nutzpflanzenwissenschaften,Master Oenologie/Weinwirtschaft,Master Transition Management,Master Sustainable Transition*,Master Agrar- und Ressourcenökonomie*,Master Getränketechnologie*,Master Informationstechnologie in den Agrar- und Umweltwissenschaften*,Master Nachhaltige Ernährungswirtschaft,Master Sustainable Transition,Master Nutztierwissenschaften*
0,2013,364.0,251.0,0.0,450.0,341.0,260.0,137.0,37.0,40.0,49.0,20.0,72.0,166.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2014,378.0,278.0,0.0,552.0,372.0,223.0,141.0,35.0,41.0,55.0,28.0,39.0,178.0,0.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2015,381.0,324.0,0.0,601.0,404.0,213.0,174.0,0.0,55.0,75.0,200.0,0.0,0.0,0.0,30.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2016,368.0,348.0,0.0,644.0,435.0,38.0,237.0,0.0,172.0,65.0,78.0,0.0,0.0,0.0,190.0,52.0,54.0,81.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2017,385.0,376.0,0.0,650.0,437.0,45.0,278.0,0.0,167.0,63.0,86.0,0.0,0.0,0.0,69.0,103.0,180.0,54.0,88.0,103.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2018,335.0,427.0,0.0,673,451.0,319.0,178.0,0.0,71.0,94.0,54.0,0.0,0.0,62.0,0.0,48.0,170.0,90.0,673.0,111.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2019,374.0,438.0,0.0,656.0,0.0,318.0,0.0,0.0,73.0,0.0,0.0,0.0,0.0,98.0,0.0,45.0,166.0,0.0,117.0,0.0,25.0,476.0,124.0,181.0,98.0,48.0,96.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,2020,427.0,475.0,0.0,649.0,0.0,320.0,0.0,0.0,67.0,0.0,42.0,0.0,0.0,52.0,0.0,49.0,161.0,0.0,141.0,0.0,37.0,469.0,120.0,160.0,97.0,0.0,117.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,2021,402.0,474.0,27.0,619.0,0.0,346.0,0.0,0.0,65.0,0.0,40.0,0.0,0.0,44.0,0.0,49.0,161.0,0.0,183.0,0.0,66.0,456.0,138.0,153.0,93.0,0.0,132.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,2022,367.0,438.0,68.0,566.0,0.0,353.0,0.0,0.0,63.0,0.0,0.0,0.0,0.0,44.0,0.0,45.0,164.0,0.0,186.0,0.0,85.0,435.0,130.0,127.0,82.0,0.0,205.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,2023,351.0,433.0,80.0,480.0,372.0,346.0,0.0,0.0,46.0,0.0,28.0,0.0,0.0,0.0,0.0,0.0,144.0,0.0,164.0,0.0,83.0,0.0,128.0,0.0,74.0,0.0,190.0,0.0,52.0,34.0,3.0,119.0,41.0,0.0
11,2024,293,493.0,69.0,429.0,116.0,338.0,0.0,0.0,0.0,0.0,32.0,0.0,0.0,0.0,0.0,53.0,13.0,0.0,152.0,0.0,81.0,0.0,139.0,0.0,65.0,0.0,192.0,0.0,0.0,26.0,13.0,51.0,59.0,41.0

In [ ]:
import pandas as pd
import plotly.express as px



df = df_grouped

# Um die Heatmap zu erstellen, nehmen wir die Spalten außer der "Jahr" Spalte:
heatmap_data = df.drop("Jahr", axis=1)

# Erstelle die Heatmap mit Plotly Express
fig = px.imshow(heatmap_data, 
                labels=dict(x="Studiengang", y="Jahr"), 
                x=heatmap_data.columns, 
                y=df["Jahr"], 
                color_continuous_scale='viridis')  # Du kannst die Farbskala ändern, z.B. 'Cividis', 'Blues', etc.
fig.update_layout(
    width=3000,   # Breite in Pixel
    height=1600    # Höhe in Pixel
)
fig.update_layout(
    xaxis=dict(
        title='Studiengänge',  # Titel der X-Achse (optional)
        tickfont=dict(size=20)  # Schriftgröße der Kategorien auf der X-Achse (Jahre)
    ),
    yaxis=dict(
        title='Jahre',  # Titel der Y-Achse (optional)
        tickfont=dict(size=20)  # Schriftgröße der Kategorien auf der Y-Achse (falls auch für Y-Achse relevant)
    ),
fig.update_layout(
    coloraxis_colorbar=dict(
        title="Farbbalken",  # Titel des Farbbalkens (Legende)
        tickvals=[0, 0.5, 1],  # Werte auf der Legende
        ticktext=['0', '0.5', '1'],  # Text für die Legende
        tickfont=dict(size=14),  # Schriftgröße der Legende-Ticks
        lenmode="fraction",  # Länge des Balkens als Bruchteil der Figur
        len=0.5,  # Länge des Farbbalkens auf der Achse
        tickangle=0,  # Drehwinkel der Beschriftungen
        thickness=20,  # Dicke des Balkens
        ticks="outside",  # Pfeile nach außen
    ),

)
# Zeige die Heatmap an
fig.show()

SyntaxError: positional argument follows keyword argument (3703191678.py, line 34)